/.pub/
/.packages
/packages
/web/packages/

/pubspec.lock

/build/web/components/
/build/web/index.ng_summary.json
/build/web/demo.html
/build/web/index.ng_meta.json
/build/web/packages/angular2/
/build/web/packages/browser/
/build/web/packages/bootstrap_sass/
/build/web/packages/analyzer/
/build/web/packages/unittest/
/build/web/packages/ng_bootstrap/
/build/web/packages/package_resolver/
/build/web/style.scss
