<section id="{{name.toLowerCase()}}">
  <h1>{{name}} <small>(<a href="{{docUrl}}">documentation</a>)</small></h1>

  <hr>

  <div class="col-lg-5">
    <h2>Example</h2>

    <div class="card card-block panel panel-default panel-body">
      <ng-content></ng-content>
    </div>
  </div>

  <br>

  <div class="col-lg-7">
    <bs-tabs #tabs>
        <template bsTab select="markup">
            Markup
        </template>
        <template bsTab select="code">
            Dart
        </template>
    </bs-tabs>
    <bs-tab-content [for]="tabs">
      <template bs-tab-panel name="markup">
          <pre class="prettyprint">
              <code class="language-html">{{html}}</code>
          </pre>
      </template>
      <template bs-tab-panel name="code">
          <pre class="prettyprint">
              <code class="language-dart">{{dart}}</code>
          </pre>
      </template>
    </bs-tab-content>
  </div>

</section>
