<header class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{{prefix}}#" role="button" class="navbar-brand">ng_bootstrap</a>
  <nav class="collapse navbar-collapse" [bsCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a role="button" class="nav-link dropdown-toggle">Directives <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li *ngFor="let comp of components">
            <a class="dropdown-item" href="{{prefix}}#{{toTableName(comp)}}">{{comp}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
