<h4>Single toggle</h4>
<pre class="card card-body card-title">{{singleModel}}</pre>
<bs-toggle-button class="btn btn-primary"
        [(ngModel)]="singleModel"
        trueValue="0" falseValue="1">
  Single Toggle
</bs-toggle-button>

<h4>Checkbox</h4>
<pre class="card card-body card-title">
  Left: {{checkModel['left']}},
  Middle: {{checkModel['middle']}},
  Right: {{checkModel['right']}}
</pre>
<bs-button-group>
  <bs-toggle-button class="btn btn-primary" [(ngModel)]="checkModel['left']" >Left</bs-toggle-button>
  <bs-toggle-button class="btn btn-primary" [(ngModel)]="checkModel['middle']">Middle</bs-toggle-button>
  <bs-toggle-button class="btn btn-primary" [(ngModel)]="checkModel['right']" >Right</bs-toggle-button>
</bs-button-group>
<h4>Radio</h4>
<pre class="card card-body card-title">{{radioModel}}</pre>
<bs-button-group>
  <bs-radio-button class="btn btn-primary" [(ngModel)]="radioModel" option="Left">Left</bs-radio-button>
  <bs-radio-button class="btn btn-primary" [(ngModel)]="radioModel" option="Middle">Middle</bs-radio-button>
  <bs-radio-button class="btn btn-primary" [(ngModel)]="radioModel" option="Right">Right</bs-radio-button>
</bs-button-group>
<h4>Uncheckable Radio</h4>
<pre class="card card-body card-title">{{uncheckableRadioModel}}</pre>
<bs-button-group>
  <bs-radio-button class="btn btn-success" [(ngModel)]="uncheckableRadioModel" option="Left" [uncheckable]="false">Left</bs-radio-button>
  <bs-radio-button class="btn btn-success" [(ngModel)]="uncheckableRadioModel" option="Middle" [uncheckable]="false">Middle</bs-radio-button>
  <bs-radio-button class="btn btn-success" [(ngModel)]="uncheckableRadioModel" option="Right" [uncheckable]="false">Right</bs-radio-button>
</bs-button-group>
