<h3>Static</h3>
<div class="row">
  <div class="col-sm-4">
    <bs-progress [value]="55"></bs-progress>
  </div>
  <div class="col-sm-4">
    <bs-progress class="bg-striped bg-warning" [value]="50">
      <template let-percentage>{{percentage}}</template>
    </bs-progress>
  </div>
  <div class="col-sm-4">
    <bs-progress class="bg-striped bg-danger" [max]="200" [value]="167">
      <!-- Notice that `value` and `max` comes from internal values of the component -->
      <template let-value="value" let-max="max"><i>{{value}} / {{max}}</i></template>
    </bs-progress>
  </div>
</div>

<hr/>
<h3>Dynamic
  <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
</h3>
<bs-progress [max]="max" [value]="value * 2">
  <!-- In this case `value` and `max` comes from parent component's values -->
  <template>{{value * 2}} / {{max}}</template>
</bs-progress>

<small><em>No animation</em></small>
<bs-progress [animate]="false" [value]="value" class="bg-success"><template><b>{{value}}%</b></template></bs-progress>

<small><em>Object (changes type based on value)</em></small>
<bs-progress [value]="value" [class]="'bg-striped bg-' + type">
  <template>{{type}} <i [hidden]="!showWarning">!!! Watch out !!!</i></template>
</bs-progress>