<div style="overflow-x: auto;">
  <input class="form-control"
         placeholder="Filter"
         ngModel
         (ngModelChange)="filterRows($event)"/>
  <br>
  <div class="form-check col-xs-12">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [(ngModel)]="selectable">
      selectable
    </label>
  </div>
  <bs-tabsx>
    <bs-tabx header="Maps Data" style="overflow-x: auto;">
      <bs-table [rows]="rows"
                [selectable]="selectable"
                [(pageNumber)]="page"
                [itemsPerPage]="itemsPerPage"
                [sortable]="true"
                [(totalItems)]="totalItems"
                style="min-width: 800px;">
        <bs-column header="Name" fieldName="name"></bs-column>
        <bs-column header="Position" fieldName="position" sort="NO_SORTABLE"></bs-column>
        <bs-column header="Office" fieldName="office" sort="ASC"></bs-column>
        <bs-column header="Extn." fieldName="ext" sort="NONE"></bs-column>
        <bs-column header="Start date" fieldName="startDate"></bs-column>
        <bs-column header="Salary ($)" fieldName="salary" orderBy="salary" [ngStyle]="{width: '120px', flex: 'none'}">
          <template let-row>U$ {{row['salary']}}</template>
          <template bs-column-editor let-row>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">U$</span>
              </div>
              <input class="form-control" type="number" [(ngModel)]="row['salary']">
            </div>
          </template>
        </bs-column>
        <bs-column header="Address" fieldName="address.street" [ngStyle]="{width: '120px', flex: 'none'}"></bs-column>
      </bs-table>
    </bs-tabx>
    <bs-tabx header="Complex Objects Data" style="overflow-x: auto;">
      <bs-table [rows]="rowsComplex"
                [selectable]="selectable"
                [(pageNumber)]="page"
                [itemsPerPage]="itemsPerPage"
                [sortable]="true"
                [(totalItems)]="totalItems"
                style="min-width: 800px;">
        <bs-column header="Name" fieldName="name"></bs-column>
        <bs-column header="Position" fieldName="position" sort="NO_SORTABLE"></bs-column>
        <bs-column header="Office" fieldName="office" sort="ASC"></bs-column>
        <bs-column header="Extn." fieldName="ext" sort="NONE"></bs-column>
        <bs-column header="Start date" fieldName="startDate"></bs-column>
        <bs-column header="Salary ($)" orderBy="salary" [ngStyle]="{width: '120px'}">
          <template let-row>U$ {{row.salary}}</template>
          <template bs-column-editor let-row>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">U$</span>
              </div>
              <input class="form-control" type="number" [(ngModel)]="row.salary">
            </div>
          </template>
        </bs-column>
        <bs-column header="Address" fieldName="address.street" [ngStyle]="{width: '120px'}"></bs-column>
      </bs-table>
    </bs-tabx>
  </bs-tabsx>
  <bs-pagination class="pagination-sm tag"
                 [(currentPage)]="page"
                 [totalItems]="totalItems"
                 [itemsPerPage]="itemsPerPage"
                 [maxSize]="maxSize"
                 [boundaryLinks]="true"
                 [rotate]="false"
                 [(totalPages)]="totalPages">
  </bs-pagination>
  <pre class="card card-body card-title">Page: {{page}} / {{totalPages}}
Total Items: {{totalItems}}
</pre>
</div>