<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular2 Bootstrap</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Angular2 Bootstrap">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="author" href="https://github.com/luisvt/ng2_strap/graphs/contributors">

  <!--link to bootstrap.css-->
  <link rel="stylesheet" href="packages/ng_bootstrap/all.css">
  <link rel="stylesheet" href="packages/font_awesome/css/font-awesome.css">

  <script defer src="main.dart.js"></script>
</head>
<body>
<datepicker-demo>
  Loading...
</datepicker-demo>
</body>
</html>
